<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Chat</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="chat-container" class="chat-container">
      <div id="messages-area" class="messages-area">
      </div>
      <div class="hidden" id="new-message-popup">⬇️!</div>
      <div class="message-form">
        <input
          type="text"
          name="message"
          id="message-input"
          class="message-input"
          placeholder="Type a message..."
        />
        <button id="send-button" class="send-button">Send</button>
      </div>
    </div>
    <script src="./client.js"></script>
  </body>
</html>
